
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
   max-width: 100%;
   display: inline-block;
}

@font-face
{
    font-family: "Mona Sans";
    src: url("assets/fonts/mona-sans.woff2") format("woff2");
    font-weight: 200 900;
    font-display: swap;
    font-feature-settings: "liga" 0;
}
@font-face 
{
    font-family: "Mona Sans Mono";
    src: url("assets/fonts/mona-sans-mono.woff2") format("woff2");
    font-weight: 200 900;
    font-display: swap;
    font-feature-settings: "liga" 0;
}

:root {
    --font-body: "Mona Sans";
    --font-mono: "Mona Sans Mono";
    --color-cursor: #00ff00;
    --color-black: #000000;
    --color-white: #fff;
    --color-orange: #ff4800;
    --color-border-muted: #ffffff;
    --color-muted: #A4AEA6;
    --color-focus:#00ff00;
    --container-width:1280px;
    --spacing-64: 64px;
    --text-200-line-height:1.5;
    --heading-1-font-size: 56px;
    --heading-1-line-height: 1.1;
    --eyebrown-font-size: 14px;
    --text-200-font-size:16px;
    --color-button-primary:#ff4800;
    --color-button-secondary:rgba(255 ,255 ,255 , 0.12);
    --color-button-secondary-border:rgba(255 ,255 ,255 , 0.06);
   
}
@media (max-width: 640px) {
    :root{ 
        --heading-1-font-size:36px;}
}

body {
   font-family: var(--font-body);
   -webkit-font-smoothing: antialiased;
 
}
.hero {
     --hero-text-max-widh:600;
     --hero-content-gap:1em;

    background: var(--color-black);
    color:var(--color-white);
    text-align: center;
}

.container {
    max-width:var(--container-width);
    margin-left: auto;
    margin-right: auto;
}

.hero-content {
    padding:var(--spacing-64);
    border-left: 1px solid var(--color-border-muted);
    border-right: 1px solid var(--color-border-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:var(--hero-content-gap)

}
.eyebrow {
    font-family: var(--font-mono);
    font-size: var(--eyebrown-font-size);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.42em;
}
.eyebrow-cursor rect {
    fill: var(--color-cursor);
}
.heading {
    font-weight: 400;
}
.heading-size-1 {
    font-size: var(--heading-1-font-size);
    line-height: var(--heading-1-line-height);
}

.text-size-200{
    font-size:var(--text-200-font-size);
    line-height: var(--text-200-line-height);
}
.hero-text{
    max-width: var(--hero-text-max-widh);
}
.button-group{
    display: flex;
    gap: 1em;
}
.hero-image{
    margin-top: calc(64px - var(--hero-content-gap));
}
.button {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid;
    padding: 0.5em 1.2em;
    font-weight: 500;
    letter-spacing: 0.16px;
    border-radius: 0.4em;
    font-style: var(--color-white);
    transition: background-color 300ms ease-in-out;
}
.button-primary{
    background-color: var(--color-button-primary);
    border-color: transparent;
    
}
.button-primary:hover{
    background-color: color-mix(in srgb, var(--color-button-primary), #000 20%)
    
}
.button-secondary{
    background-color: var(--color-button-secondary);
    border-color: var(--color-button-secondary-border);  
}
.button-secondary:hover{
    background-color: color-mix(in srgb, var(--color-button-secondary),#ffffff 25%)
   
}
.button:focus-visible{
    outline: 2px solid var(--color-focus);
    outline-offset: 1px;
} 